.container {
  padding: 20px;
}

.pokemones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.pokemon {
  background-color: #E8E8E8;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon:hover {
  background-color: #cfcfcf;
  cursor: pointer;
}

.pokemon_name {
  text-transform: capitalize;
}

@media (min-width: 600px) {
  .pokemones {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    padding: 20px;
  }
}

@media (min-width: 700px) {
  .pokemones {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    padding: 20px;
  }
}

@media (min-width: 900px) {
  .pokemones {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    padding: 20px;
  }
}

@media (min-width: 1400px) {
  .pokemones {
    grid-template-columns: repeat(5, 1fr);
  }

  .container {
    padding: 50px;
  }
}