.container {
  padding: 20px;
}

.pokemones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 600px) {
  .pokemones {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    padding: 20px;
  }
}

@media (min-width: 700px) {
  .pokemones {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    padding: 20px;
  }
}

@media (min-width: 900px) {
  .pokemones {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    padding: 20px;
  }
}

@media (min-width: 1400px) {
  .pokemones {
    grid-template-columns: repeat(5, 1fr);
  }

  .container {
    padding: 50px;
  }
}